.datatable {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

#create-form-container {
  width: 80%;
  margin: auto;
}

.datatable td, .datatable th {
  border: 1px solid #ddd;
  height: 30px;
}

.datatable td {
  position: relative;
  padding: 0;
}

.datatable td:hover {background-color: #efefef;}

.datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #22e39e;
  color: white;
}

.datatable .last-row-cell {
 border: none;
}

.datatable .last-row-cell {
  border: none;
}

.datatable .last-row {
  background-color: white !important;
}

.datatable .last-row-cell:hover {
  background-color: white;
}

#navigation-cell {
  text-align: right;
}

#limit-cell {
  text-align: left;
}

.active-nav-btn {
  background-color: #22e39e;
  color: white;
}

.sort-btn {
  color: lightgray;
}

.sort-enabled {
  color: black;
}

.edit-book-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: "Sans-Serif";
  height: 100%;
  display: flex;
  align-items: center;
}

.edit-form {
  height: 100%;
}

.edit-form-field {
  border: none;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  font-size: 16px;
  padding: 0;
  background-color: transparent;
  font-family: "Sans-Serif";
}

.edit-form-field.focused{
  border: 2px solid #22e39e;
  box-shadow: 5px 5px 8px rgba(0,0,0,0.1), -1px -1px 5px rgba(0,0,0,0.1);
}

.edit-form-field:focus {
  outline: none;
}

.datatable .delete-cell {
  padding-left: 5px;
  border: none;
  a {
    color: #DADADA;
    text-decoration: none;
  }
  a:hover {
    color: #BBBBBB;
  }
}

.datatable .delete-cell:hover {
  background-color: transparent;
}

.delete-link.hidden {
  visibility: hidden;
}