.datatable {
  border-collapse: collapse;
  width: 80%;
  margin: auto;
}

.datatable td, .datatable th {
  border: 1px solid #ddd;
  height: 30px;
}

.datatable td {
  position: relative;
  padding: 0;
}

.datatable td:hover {background-color: #efefef;}

.datatable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #22e39e;
  color: white;
}

.datatable .last-row-cell {
 border: none;
}

.datatable .last-row-cell {
  border: none;
}

.datatable .last-row {
  background-color: white !important;
}

.datatable .last-row:hover {
  background-color: white;
}

#navigation-cell {
  text-align: right;
}

#limit-cell {
  text-align: left;
}

.active-nav-btn {
  background-color: #22e39e;
  color: white;
}

.sort-btn {
  color: lightgray;
}

.sort-enabled {
  color: black;
}

.edit-book-link {
  color: black;
  font-size: 16px;
  text-decoration: none;
  font-family: "Sans-Serif";
  height: 100%;
  display: flex;
  align-items: center;
}

.edit-form {
  height: 100%;
}

.edit-form-field {
  border: 2px solid blue;
  height: calc(100% - 4px);
  width: calc(100% - 4px);
  font-size: 16px;
  padding: 0;
  background-color: transparent;
  font-family: "Sans-Serif";
}

.edit-form-field:focus {
  outline: none;
}